{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDo</title>
        <!--<link rel="stylesheet" href="./styles/index.css">-->
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
        <!--<link rel="stylesheet" href="./styles/checkbox.css">-->
        <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
</head>
<body>
    <section>

        <div class="create_container">
          <input class="create_input" type="text" placeholder="Напишите сюда новую задачу">
          <button class="create_button">Добавить</button>
        </div>
        <div class="todo_container">
            {% for book in book_list %}
             <div class="todo_item">
                <div class="todo_item_header">
                 <h4>{{ book.title}}</h4>
                </div>
                <div class="todo_item_footer">
                    <p>{{ book.author }} - {{ book.year}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
</body>
</html>