{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Books</title>
        <!--<link rel="stylesheet" href="./styles/index.css">-->
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
        <!--<link rel="stylesheet" href="./styles/checkbox.css">-->
        <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
</head>
<body>
    <section>

        <div class="create_container">
        <form action="{% url 'add-book' %}" method="POST">
            {% csrf_token %}
            <input class="create_input" type="text" name="book_title">
            <input type="text" name="book_subtitle">
            <input type="text" name="book_description">
            <input type="number" name="book_price">
            <input type="text" name="book_genre">
            <input type="text" name="book_author">
            <input type="date" name="book_year"> 
            <button class="create_button">Добавить</button>
        </form>
         
        </div>
        <div class="todo_container">
            {% for book in book_list %}
             <div class="todo_item">
                <div class="todo_item_header">
                 <h4>{{ book.title }} -  {{ book.subtitle }} - {{ book.description }} - {{ book.price }} - {{ book.genre }} - {{ book.author }} - {{ book.year}}</h4>
                  </div> 
                    <div class="todo_item_footer">
                    <p>{{book.date}}</p>
                   </div>
                </div>
        {% endfor %}
        </div>
    </section>
</body>
</html>