<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="page1">Ваша запись была добавлена успешно</button>

    <script>
        let page1 = document.getElementById('page1')
        page1.addEventListener('click', click1)
        
        function click1(){
           
            alert("Ваша запись была добавлена успешно")
        }
    </script>
</body>
</html>